.app-wrap {
  background-color: #ededed;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 0 1px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  width: 900px;
}
.app-info-wrap {
  box-sizing: border-box;
  height: 110px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
}
  .app-info-wrap h3, 
  .app-info-wrap p {
    margin: 0;
  } 
  .app-info-wrap p {
    padding: 16px 0 8px 0;
  }
.app-hdr-wrap {
  box-sizing: border-box;
  height: 64px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
  .app-hdr-wrap .app-hdr {
    box-sizing: border-box;
    height: 64px;
    margin: 0 auto;
    position: relative;
    white-space: nowrap;
    max-width: 430px;
  }
    .app-hdr-wrap .app-hdr img {
      display: inline-block;
      float: left;
      box-sizing: border-box;
      max-height: 100%;
    }
    .app-hdr-wrap .app-hdr > a:last-child {
      padding: 12px;
      display: inline-block;
      float: left;
    }
.line {
  border-bottom: 1px solid #bbb;
  box-sizing: border-box;
  height: 0px;
  width: 100%;
}